In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import datetime

In [2]:
train=pd.read_csv("Train.csv")
test=pd.read_csv("Test.csv")

In [3]:
dummy=pd.get_dummies(train[['weather_type']])

In [4]:
train=pd.concat([train,dummy],axis=1)

In [5]:
train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,weather_type_Clouds,weather_type_Drizzle,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Smoke,weather_type_Snow,weather_type_Squall,weather_type_Thunderstorm
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,...,1,0,0,0,0,0,0,0,0,0
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,...,1,0,0,0,0,0,0,0,0,0
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,...,1,0,0,0,0,0,0,0,0,0
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,...,1,0,0,0,0,0,0,0,0,0
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
train.drop(["weather_type"],axis=1,inplace=True)

In [7]:
for index,row in train.iterrows():
    if row["weather_type_Squall"]==1:
        train.at[index,"weather_type_Rain"]=1
        train.at[index,"weather_type_Snow"]=1
        train.at[index,"weather_type_Thunderstorm"]=1
    if row["weather_type_Smoke"]==1:
        train.at[index,"weather_type_Haze"]=1

In [8]:
for index,row in train.iterrows():
    ##Clear Weather Mapping
    if(row["weather_description"]=="sky is clear"):
        train.at[index,"weather_type_Clear"]=1
    if(row["weather_description"]=="Sky is Clear"):
        train.at[index,"weather_type_Clear"]=2
    ##Clouds Mapping
    if(row["weather_description"]=="few clouds"):
        train.at[index,"weather_type_Clouds"]=3
    if(row["weather_description"]=="scattered clouds"):
        train.at[index,"weather_type_Clouds"]=4
    if(row["weather_description"]=="broken clouds"):
        train.at[index,"weather_type_Clouds"]=2
    if(row["weather_description"]=="overcast clouds"):
        train.at[index,"weather_type_Clouds"]=1
    ##Drizzle Mapping
    if(row["weather_description"]=="light intensity drizzle"):
        train.at[index,"weather_type_Drizzle"]=4
    if(row["weather_description"]=="drizzle"):
        train.at[index,"weather_type_Drizzle"]=2
    if(row["weather_description"]=="heavy intensity drizzle"):
        train.at[index,"weather_type_Drizzle"]=3
    if(row["weather_description"]=="shower drizzle"):
        train.at[index,"weather_type_Drizzle"]=1
    ##rain Mapping
    if(row["weather_description"]=="light rain"):
        train.at[index,"weather_type_Rain"]=4
    if(row["weather_description"]=="moderate rain"):
        train.at[index,"weather_type_Rain"]=3
    if(row["weather_description"]=="proximity shower rain"):
        train.at[index,"weather_type_Rain"]=7
    if(row["weather_description"]=="heavy intensity rain"):
        train.at[index,"weather_type_Rain"]=8
    if(row["weather_description"]=="light intensity shower rain"):
        train.at[index,"weather_type_Rain"]=5
    if(row["weather_description"]=="very heavy rain"):
        train.at[index,"weather_type_Rain"]=1
    if(row["weather_description"]=="freezing rain"):
        train.at[index,"weather_type_Rain"]=6
    if(row["weather_description"]=="sleet"):
        train.at[index,"weather_type_Rain"]=5
    ##snow mapping
    if(row["weather_description"]=="SQUALLS"):
        train.at[index,"weather_type_Snow"]=1
    if(row["weather_description"]=="snow"):
        train.at[index,"weather_type_Snow"]=2
    if(row["weather_description"]=="light rain and snow"):
        train.at[index,"weather_type_Snow"]=5
    if(row["weather_description"]=="light snow"):
        train.at[index,"weather_type_Snow"]=3
    if(row["weather_description"]=="light shower snow"):
        train.at[index,"weather_type_Snow"]=6    
    if(row["weather_description"]=="shower snow"):
        train.at[index,"weather_type_Snow"]=7
    if(row["weather_description"]=="heavy snow"):
        train.at[index,"weather_type_Snow"]=4
    ##Thunderstorm mapping
    if(row["weather_description"]=="thunderstorm"):
        train.at[index,"weather_type_Thunderstorm"]=5
    if(row["weather_description"]=="proximity thunderstorm"):
        train.at[index,"weather_type_Thunderstorm"]=8
    if(row["weather_description"]=="proximity thunderstorm with rain"):
        train.at[index,"weather_type_Thunderstorm"]=1
    if(row["weather_description"]=="proximity thunderstorm with drizzle"):
        train.at[index,"weather_type_Thunderstorm"]=6
    if(row["weather_description"]=="thunderstorm with light drizzle"):
        train.at[index,"weather_type_Thunderstorm"]=7    
    if(row["weather_description"]=="thunderstorm with drizzle"):
        train.at[index,"weather_type_Thunderstorm"]=2
    if(row["weather_description"]=="thunderstorm with light rain"):
        train.at[index,"weather_type_Thunderstorm"]=3
    if(row["weather_description"]=="thunderstorm with rain"):
        train.at[index,"weather_type_Thunderstorm"]=9
    if(row["weather_description"]=="thunderstorm with heavy rain"):
        train.at[index,"weather_type_Thunderstorm"]=4
    ##Fog Mapping
    if(row["weather_description"]=="fog"):
        train.at[index,"weather_type_Fog"]=1
    ##Mist Mapping
    if(row["weather_description"]=="mist"):
        train.at[index,"weather_type_Mist"]=1
    ##Smoke Mapping
    if(row["weather_description"]=="smoke"):
        train.at[index,"weather_type_Haze"]=1
    if(row["weather_description"]=="haze"):
        train.at[index,"weather_type_Haze"]=2

In [9]:
train.drop(["weather_type_Squall","weather_type_Smoke"],inplace=True,axis=1)

In [10]:
for index,row in train.iterrows():
    train.at[index,"date"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date()
    train.at[index,"time"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").time()
    train.at[index,"hour"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").time().hour
    train.at[index,"month"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date().month
    train.at[index,"day"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date().day
    train.at[index,"year"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date().year

In [11]:
train['date_time'] = pd.to_datetime(train.date_time)
train['dayofyear'] = train['date_time'].dt.dayofyear
train['weekofyear'] = train['date_time'].dt.weekofyear
train['dayofweek'] = train['date_time'].dt.dayofweek

In [12]:
train.drop(["date_time","weather_description"],axis=1,inplace=True)

In [13]:
train.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,...,weather_type_Thunderstorm,date,time,hour,month,day,year,dayofyear,weekofyear,dayofweek
0,None,121,89,2,329,1,1,288.28,0.0,0.0,...,0,2012-10-02,09:00:00,9.0,10.0,2.0,2012.0,276,40,1
1,None,178,67,3,330,1,1,289.36,0.0,0.0,...,0,2012-10-02,10:00:00,10.0,10.0,2.0,2012.0,276,40,1
2,None,113,66,3,329,2,2,289.58,0.0,0.0,...,0,2012-10-02,11:00:00,11.0,10.0,2.0,2012.0,276,40,1
3,None,20,66,3,329,5,5,290.13,0.0,0.0,...,0,2012-10-02,12:00:00,12.0,10.0,2.0,2012.0,276,40,1
4,None,281,65,3,329,7,7,291.14,0.0,0.0,...,0,2012-10-02,13:00:00,13.0,10.0,2.0,2012.0,276,40,1

In [14]:
train.shape

(33750, 30)

In [15]:
train["is_holiday"].unique()

array(['None', 'Columbus Day', 'Veterans Day', 'Thanksgiving Day',
       'Christmas Day', 'New Years Day', 'Washingtons Birthday',
       'Memorial Day', 'Independence Day', 'State Fair', 'Labor Day',
       'Martin Luther King Jr Day'], dtype=object)

In [16]:
vard = 0
varm = 0
var = ""
for index,row in train.iterrows():
    if(row['is_holiday'] != "None"):
        vard = row['day']
        varm = row['month']
        var = row['is_holiday']
    if(row['day'] == vard and row['month'] == varm):
        train.loc[index,'is_holiday']=var

In [17]:
for index,row in train.iterrows():
    if row["is_holiday"]!="None":
        train.at[index,"is_holiday"]=1
    else:
        train.at[index,"is_holiday"]=0

In [18]:
train["is_holiday"]=train["is_holiday"].astype(int)

In [19]:
train.drop(["air_pollution_index","wind_speed","wind_direction","visibility_in_miles","dew_point","rain_p_h","snow_p_h","year","humidity"],axis=1,inplace=True)

In [20]:
train.head()

,is_holiday,temperature,clouds_all,traffic_volume,weather_type_Clear,weather_type_Clouds,weather_type_Drizzle,weather_type_Fog,weather_type_Haze,weather_type_Mist,...,weather_type_Snow,weather_type_Thunderstorm,date,time,hour,month,day,dayofyear,weekofyear,dayofweek
0,0,288.28,40,5545,0,4,0,0,0,0,...,0,0,2012-10-02,09:00:00,9.0,10.0,2.0,276,40,1
1,0,289.36,75,4516,0,2,0,0,0,0,...,0,0,2012-10-02,10:00:00,10.0,10.0,2.0,276,40,1
2,0,289.58,90,4767,0,1,0,0,0,0,...,0,0,2012-10-02,11:00:00,11.0,10.0,2.0,276,40,1
3,0,290.13,90,5026,0,1,0,0,0,0,...,0,0,2012-10-02,12:00:00,12.0,10.0,2.0,276,40,1
4,0,291.14,75,4918,0,2,0,0,0,0,...,0,0,2012-10-02,13:00:00,13.0,10.0,2.0,276,40,1

In [21]:
train.drop(["clouds_all"],inplace=True,axis=1)

In [22]:
train.head()

,is_holiday,temperature,traffic_volume,weather_type_Clear,weather_type_Clouds,weather_type_Drizzle,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Snow,weather_type_Thunderstorm,date,time,hour,month,day,dayofyear,weekofyear,dayofweek
0,0,288.28,5545,0,4,0,0,0,0,0,0,0,2012-10-02,09:00:00,9.0,10.0,2.0,276,40,1
1,0,289.36,4516,0,2,0,0,0,0,0,0,0,2012-10-02,10:00:00,10.0,10.0,2.0,276,40,1
2,0,289.58,4767,0,1,0,0,0,0,0,0,0,2012-10-02,11:00:00,11.0,10.0,2.0,276,40,1
3,0,290.13,5026,0,1,0,0,0,0,0,0,0,2012-10-02,12:00:00,12.0,10.0,2.0,276,40,1
4,0,291.14,4918,0,2,0,0,0,0,0,0,0,2012-10-02,13:00:00,13.0,10.0,2.0,276,40,1

In [23]:
for index,row in train.iterrows():
    if(row['hour'] >9 and row['hour'] <16):
        train.loc[index,'peak_time'] = 1
    else:
        train.loc[index,'peak_time'] = 4

In [24]:
y=train["traffic_volume"]

In [25]:
train.drop(["traffic_volume"],axis=1,inplace=True)

In [26]:
x_train,x_test,y_train,y_test=train_test_split(train,y,test_size=0.1,shuffle=True)

In [27]:
model=RandomForestRegressor(bootstrap=True,n_estimators=100)

In [29]:
x_train.head()

,is_holiday,temperature,weather_type_Clear,weather_type_Clouds,weather_type_Drizzle,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Snow,weather_type_Thunderstorm,date,time,hour,month,day,dayofyear,weekofyear,dayofweek,peak_time
17574,0,285.61,0,2,0,0,0,0,0,0,0,2015-08-20,05:00:00,5.0,8.0,20.0,232,34,3,4.0
24668,1,297.76,0,1,0,0,0,0,0,0,0,2016-07-04,14:00:00,14.0,7.0,4.0,186,27,0,1.0
24628,0,292.09,0,3,0,0,0,0,0,0,0,2016-07-02,22:00:00,22.0,7.0,2.0,184,26,5,4.0
18632,0,294.65,1,0,0,0,0,0,0,0,0,2015-09-27,20:00:00,20.0,9.0,27.0,270,39,6,4.0
26361,0,297.89,0,0,0,0,0,1,0,0,0,2016-09-06,01:00:00,1.0,9.0,6.0,250,36,1,4.0

In [31]:
x_test.head()

,is_holiday,temperature,weather_type_Clear,weather_type_Clouds,weather_type_Drizzle,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Snow,weather_type_Thunderstorm,date,time,hour,month,day,dayofyear,weekofyear,dayofweek,peak_time
11960,0,261.26,1,0,0,0,0,0,0,0,0,2014-02-02,17:00:00,17.0,2.0,2.0,33,5,6,4.0
10258,0,264.69,0,0,0,0,0,1,0,0,0,2013-12-01,07:00:00,7.0,12.0,1.0,335,48,6,4.0
6863,0,290.16,0,0,0,0,0,0,4,0,0,2013-06-10,17:00:00,17.0,6.0,10.0,161,24,0,4.0
13634,0,277.58,0,1,0,0,0,0,0,0,0,2014-04-13,15:00:00,15.0,4.0,13.0,103,15,6,1.0
21989,0,274.48,0,0,0,0,0,0,0,3,0,2016-03-23,14:00:00,14.0,3.0,23.0,83,12,2,1.0

In [34]:
# x_train.drop(["date","time"],inplace=True,axis=1)
# x_test.drop(["date","time"],inplace=True,axis=1)
x_train.drop(["time"],inplace=True,axis=1)
x_test.drop(["time"],inplace=True,axis=1)

/home/sirzechlucifer/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [35]:
model.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [36]:
prediction=model.predict(x_test)

In [37]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error

In [38]:
mean_absolute_error(y_test,prediction)

201.71270814814815

In [39]:
np.sqrt(mean_squared_log_error(y_test,prediction))

0.21385816906158758

In [34]:
train.drop(["date","time"],inplace=True,axis=1)

In [35]:
model.fit(train,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [36]:
dummy=pd.get_dummies(test[['weather_type']])

In [37]:
test=pd.concat([test,dummy],axis=1)

In [38]:
test.drop(["weather_type"],axis=1,inplace=True)

In [39]:
for index,row in test.iterrows():
    if row["weather_type_Smoke"]==1:
        test.at[index,"weather_type_Haze"]=1

In [40]:
for index,row in test.iterrows():
    ##Clear Weather Mapping
    if(row["weather_description"]=="sky is clear"):
        test.at[index,"weather_type_Clear"]=1
    if(row["weather_description"]=="Sky is Clear"):
        test.at[index,"weather_type_Clear"]=2
    ##Clouds Mapping
    if(row["weather_description"]=="few clouds"):
        test.at[index,"weather_type_Clouds"]=3
    if(row["weather_description"]=="scattered clouds"):
        test.at[index,"weather_type_Clouds"]=4
    if(row["weather_description"]=="broken clouds"):
        test.at[index,"weather_type_Clouds"]=2
    if(row["weather_description"]=="overcast clouds"):
        test.at[index,"weather_type_Clouds"]=1
    ##Drizzle Mapping
    if(row["weather_description"]=="light intensity drizzle"):
        test.at[index,"weather_type_Drizzle"]=4
    if(row["weather_description"]=="drizzle"):
        test.at[index,"weather_type_Drizzle"]=2
    if(row["weather_description"]=="heavy intensity drizzle"):
        test.at[index,"weather_type_Drizzle"]=3
    if(row["weather_description"]=="shower drizzle"):
        test.at[index,"weather_type_Drizzle"]=1
    ##rain Mapping
    if(row["weather_description"]=="light rain"):
        test.at[index,"weather_type_Rain"]=4
    if(row["weather_description"]=="moderate rain"):
        test.at[index,"weather_type_Rain"]=3
    if(row["weather_description"]=="proximity shower rain"):
        test.at[index,"weather_type_Rain"]=7
    if(row["weather_description"]=="heavy intensity rain"):
        test.at[index,"weather_type_Rain"]=8
    if(row["weather_description"]=="light intensity shower rain"):
        test.at[index,"weather_type_Rain"]=5
    if(row["weather_description"]=="very heavy rain"):
        test.at[index,"weather_type_Rain"]=1
    if(row["weather_description"]=="freezing rain"):
        test.at[index,"weather_type_Rain"]=6
    if(row["weather_description"]=="sleet"):
        test.at[index,"weather_type_Rain"]=5
    ##snow mapping
    if(row["weather_description"]=="SQUALLS"):
        test.at[index,"weather_type_Snow"]=1
    if(row["weather_description"]=="snow"):
        test.at[index,"weather_type_Snow"]=2
    if(row["weather_description"]=="light rain and snow"):
        test.at[index,"weather_type_Snow"]=5
    if(row["weather_description"]=="light snow"):
        test.at[index,"weather_type_Snow"]=3
    if(row["weather_description"]=="light shower snow"):
        test.at[index,"weather_type_Snow"]=6    
    if(row["weather_description"]=="shower snow"):
        test.at[index,"weather_type_Snow"]=7
    if(row["weather_description"]=="heavy snow"):
        test.at[index,"weather_type_Snow"]=4
    ##Thunderstorm mapping
    if(row["weather_description"]=="thunderstorm"):
        test.at[index,"weather_type_Thunderstorm"]=5
    if(row["weather_description"]=="proximity thunderstorm"):
        test.at[index,"weather_type_Thunderstorm"]=8
    if(row["weather_description"]=="proximity thunderstorm with rain"):
        test.at[index,"weather_type_Thunderstorm"]=1
    if(row["weather_description"]=="proximity thunderstorm with drizzle"):
        test.at[index,"weather_type_Thunderstorm"]=6
    if(row["weather_description"]=="thunderstorm with light drizzle"):
        test.at[index,"weather_type_Thunderstorm"]=7    
    if(row["weather_description"]=="thunderstorm with drizzle"):
        test.at[index,"weather_type_Thunderstorm"]=2
    if(row["weather_description"]=="thunderstorm with light rain"):
        test.at[index,"weather_type_Thunderstorm"]=3
    if(row["weather_description"]=="thunderstorm with rain"):
        test.at[index,"weather_type_Thunderstorm"]=9
    if(row["weather_description"]=="thunderstorm with heavy rain"):
        test.at[index,"weather_type_Thunderstorm"]=4
    ##Fog Mapping
    if(row["weather_description"]=="fog"):
        test.at[index,"weather_type_Fog"]=1
    ##Mist Mapping
    if(row["weather_description"]=="mist"):
        test.at[index,"weather_type_Mist"]=1
    ##Smoke Mapping
    if(row["weather_description"]=="smoke"):
        test.at[index,"weather_type_Haze"]=1
    if(row["weather_description"]=="haze"):
        test.at[index,"weather_type_Haze"]=2

In [41]:
test.drop(["weather_type_Smoke"],inplace=True,axis=1)

In [42]:
for index,row in test.iterrows():
    test.at[index,"date"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date()
    test.at[index,"time"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").time()
    test.at[index,"hour"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").time().hour
    test.at[index,"month"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date().month
    test.at[index,"day"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date().day
    test.at[index,"year"]=datetime.datetime.strptime(row["date_time"], "%Y-%m-%d %H:%M:%S").date().year

In [43]:
test['date_time'] = pd.to_datetime(test.date_time)
test['dayofyear'] = test['date_time'].dt.dayofyear
test['weekofyear'] = test['date_time'].dt.weekofyear
test['dayofweek'] = test['date_time'].dt.dayofweek

In [44]:
for index,row in test.iterrows():
    if(row['hour'] >9 and row['hour'] <16):
        test.loc[index,'peak_time'] = 1
    else:
        test.loc[index,'peak_time'] = 4

In [45]:
column_index=test["date_time"]

In [46]:
test.drop(["date_time","date","time","weather_description"],axis=1,inplace=True)

In [47]:
vard = 0
varm = 0
var = ""
for index,row in test.iterrows():
    if(row['is_holiday'] != "None"):
        vard = row['day']
        varm = row['month']
        var = row['is_holiday']
    if(row['day'] == vard and row['month'] == varm):
        test.loc[index,'is_holiday']=var

In [48]:
for index,row in test.iterrows():
    if row["is_holiday"]!="None":
        test.at[index,"is_holiday"]=1
    else:
        test.at[index,"is_holiday"]=0

In [49]:
test.drop(["air_pollution_index","wind_speed","wind_direction","visibility_in_miles","dew_point","rain_p_h","snow_p_h","clouds_all","year","humidity"],axis=1,inplace=True)

In [50]:
predictions=model.predict(test)

In [51]:
data={"date_time":column_index,"traffic_volume":predictions.reshape(-1)}

In [52]:
pred= pd.DataFrame(data)

In [53]:
pred.to_csv("submission_21.csv",index=False)

In [54]:
pred.head()

            date_time  traffic_volume
0 2017-05-18 00:00:00          625.83
1 2017-05-18 00:00:00          652.46
2 2017-05-18 00:00:00          783.98
3 2017-05-18 01:00:00          360.60
4 2017-05-18 01:00:00          371.98